.section-filter {
  margin-top: 200px;
  margin-left: 303px;
  width: 500px;
  height: 555px;
  background: #ffffff;
  box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow-y: scroll;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  margin: 10px 20px;
}

.filter h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #1d242d;
}
.filter p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4c6fff;
  cursor: pointer;
}

.cta-filter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
}

.cta-filter svg,
.cta-filter p {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #1d242d;
}

.cta-filter p {
  padding-top: 15px;
  margin-left: 10px;
}

.cta-filter svg:hover,
.cta-filter p:hover {
  color: #4c6fff;
}

.date {
  width: 500px;
  height: 99px;
  background: #f2f4f7;
  opacity: 0.9;
}

.year-month-date {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 30px;
  gap: 30px;
  padding-top: 30px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 30px;
  margin-left: 30px;
}

.year-month-date input {
  padding: 12px 20px;
  width: 121px;
  height: 43px;
  border: 1px solid #b2bbc6;
  border-radius: 10px;
  outline: none;
}
.year-month-date p {
  padding-top: 20px;
}

.search input {
  padding: 12px 20px;
  width: 333px;
  height: 40px;
  border: 1px solid #b2bbc6;
  border-radius: 10px;
  outline: none;
}
