.sidebar-section {
  display: flex;
  padding-top: 96px;
}

.sidebar {
  height: 100vh;
  background-color: #ffffff;
  width: 260px;
  position: fixed;
}

.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
  overflow: hidden;
}
