body {
  font-family: "Open Sans", sans-serif;
}
.box {
  align-items: center;
  padding: 10px 16px;
  border: none;
  width: 110px;
  height: 42px;
  color: #ffffff;
  background: #4c6fff;
  border-radius: 5px;
}
